.contacts-description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    padding-top: 12vw;
    display: flex;
    width: 100vw;
}


li {
    margin-left: 1.3em;
    list-style-type: none;
}


ul {
    width: max-content;
    margin: 0px;
}

