.fabrick-tiles {
    display: flex;
    margin-left: 17%;
    margin-top: 50px;
}

.fabrick-tiles div {
    width: 180px;
    height: 180px;
    background-color: rgb(143, 166, 187);
    margin-right: 0;
    margin-left: 10px;
}

.fabrick-tiles img {
    width: 170px;
    height: 170px;
    margin-left: 5px;
    margin-top: 5px;
}
